black==22.10.0
isort==5.10.1
mypy==0.982
pylint==2.15.4
pytest==6.0.1
responses~=0.25.0
requests~=2.32.2
httpretty~=1.1.4
tqdm==4.52.0
networkx~=3.3
pandas~=2.1.4
matplotlib~=3.9.0
python-louvain==0.14

urllib3~=1.25.11
pygame~=2.5.2
SQLAlchemy~=2.0.30
boddle~=0.2.9
numpy~=1.26.2
bottle~=0.12.25
beautifulsoup4~=4.12.3
community~=1.0.0b1